<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">ようこそ<i class="fas fa-book"></i><strong>Moviegoer</strong>へ!</h1>
    <p>ここは映画との思い出をより深く、大切に、記録する場所です。</p>
    <p>映画の思い出をたくさん記録して、映画好きな友達も増やしていきましょう。</p>
  </div>
</div>